<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Type_Express.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <userSettings>
        <Type_Express.MySettings>
            <setting name="recents" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                </value>
            </setting>
            <setting name="favourites" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                </value>
            </setting>
            <setting name="pinned" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                </value>
            </setting>
            <setting name="height" serializeAs="String">
                <value>680</value>
            </setting>
            <setting name="width" serializeAs="String">
                <value>1060</value>
            </setting>
            <setting name="maximised" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="audio" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="viewednotifications" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                </value>
            </setting>
            <setting name="preferredcount" serializeAs="String">
                <value>word</value>
            </setting>
            <setting name="language" serializeAs="String">
                <value />
            </setting>
            <setting name="customen" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                </value>
            </setting>
            <setting name="customfr" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                </value>
            </setting>
            <setting name="customes" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                </value>
            </setting>
            <setting name="fontname" serializeAs="String">
                <value>Calibri</value>
            </setting>
            <setting name="fontsize" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="fontstyle" serializeAs="String">
                <value>Regular</value>
            </setting>
            <setting name="backimage" serializeAs="String">
                <value />
            </setting>
            <setting name="textcolour" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="savelocation" serializeAs="String">
                <value />
            </setting>
            <setting name="filterindex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="colourscheme" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="spelllang" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="recentcount" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="showprompt" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="lockshortcut" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="lockpass" serializeAs="String">
                <value />
            </setting>
            <setting name="wordstatus" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="saveshortcut" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="openmenu" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="notificationcheck" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="openrecent" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="files" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                </value>
            </setting>
            <setting name="favouritefonts" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                </value>
            </setting>
            <setting name="darkmode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="autodarkmode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="autodarkfrom" serializeAs="String">
                <value>18:00</value>
            </setting>
            <setting name="autodarkto" serializeAs="String">
                <value>6:00</value>
            </setting>
        </Type_Express.MySettings>
    </userSettings>

</configuration>
