<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Quota_Express.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Quota_Express.MySettings>
            <setting name="audio" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="language" serializeAs="String">
                <value />
            </setting>
            <setting name="maximised" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="height" serializeAs="String">
                <value>620</value>
            </setting>
            <setting name="width" serializeAs="String">
                <value>880</value>
            </setting>
            <setting name="notificationcheck" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="darkmode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="autodarkmode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="autodarkfrom" serializeAs="String">
                <value>18:00</value>
            </setting>
            <setting name="autodarkto" serializeAs="String">
                <value>6:00</value>
            </setting>
            <setting name="startupfolder" serializeAs="String">
                <value />
            </setting>
            <setting name="percentagebars" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="defaultsort" serializeAs="String">
                <value>sd</value>
            </setting>
            <setting name="chclrscheme" serializeAs="String">
                <value>0</value>
            </setting>
        </Quota_Express.MySettings>
    </userSettings>
</configuration>