<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Present_Express.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Present_Express.Properties.Settings>
            <setting name="Language" serializeAs="String">
                <value />
            </setting>
            <setting name="EnableInfoBoxAudio" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Recents" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
                </value>
            </setting>
            <setting name="RecentsLimit" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Favourites" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
                </value>
            </setting>
            <setting name="Pinned" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
                </value>
            </setting>
            <setting name="DropboxAccessToken" serializeAs="String">
                <value />
            </setting>
            <setting name="DropboxRefreshToken" serializeAs="String">
                <value />
            </setting>
            <setting name="Height" serializeAs="String">
                <value>680</value>
            </setting>
            <setting name="Width" serializeAs="String">
                <value>1180</value>
            </setting>
            <setting name="Maximised" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Files" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
                </value>
            </setting>
            <setting name="DefaultFont" serializeAs="String">
                <value>Calibri, 12pt</value>
            </setting>
            <setting name="DefaultTextColour" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="DefaultSaveLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="DefaultSize" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DefaultTimings" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="ShowClosingPrompt" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HideControls" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="InterfaceTheme" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="AutoDarkOn" serializeAs="String">
                <value>18:00</value>
            </setting>
            <setting name="AutoDarkOff" serializeAs="String">
                <value>6:00</value>
            </setting>
            <setting name="ShowSaveShortcut" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OpenMenu" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckNotifications" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OpenRecentFile" serializeAs="String">
                <value>False</value>
            </setting>
        </Present_Express.Properties.Settings>
    </userSettings>
</configuration>