<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Present_Express.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Present_Express.MySettings>
            <setting name="audio" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="language" serializeAs="String">
                <value />
            </setting>
            <setting name="maximised" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="height" serializeAs="String">
                <value>620</value>
            </setting>
            <setting name="width" serializeAs="String">
                <value>880</value>
            </setting>
            <setting name="notificationcheck" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="darkmode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="autodarkmode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="autodarkfrom" serializeAs="String">
                <value>18:00</value>
            </setting>
            <setting name="autodarkto" serializeAs="String">
                <value>6:00</value>
            </setting>
            <setting name="pinned" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                </value>
            </setting>
            <setting name="showprompt" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="favourites" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                </value>
            </setting>
            <setting name="recents" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                </value>
            </setting>
            <setting name="recentcount" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="fontname" serializeAs="String">
                <value>Calibri</value>
            </setting>
            <setting name="fontstyle" serializeAs="String">
                <value>Regular</value>
            </setting>
            <setting name="textcolour" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="savelocation" serializeAs="String">
                <value />
            </setting>
            <setting name="saveshortcut" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="openrecent" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="openmenu" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="files" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                </value>
            </setting>
            <setting name="defaulttimings" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="defaultsize" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="hidecontrols" serializeAs="String">
                <value>True</value>
            </setting>
        </Present_Express.MySettings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Accord" publicKeyToken="fa1a88e29555ccf7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.8.0.0" newVersion="3.8.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Accord.Video" publicKeyToken="fa1a88e29555ccf7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.8.0.0" newVersion="3.8.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>